/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Arial", sans-serif;
}

/* STYLES */
/* Write your CSS below */


header
{
margin-top: 0
}

.header img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transform: scale(90%);
  }

  .header h5 
  {
    text-align: center;
    color: white;
    font-size: 60px;
  }

.container
{
  position: absolute;
  top: 90%;
  left: 45%;
}

hr 
{
  width: 500px;
  size: 10px;
}

.introduction
{
  font-size: 20px;
  font-style: bold;
  text-align: center;
  margin: 60px 60px 60px 60px;

}
.introduction p
{
  text-align: center;
  border: 0;
  margin: 50px 400px 50px 400px;

}

.ingredients 
{
  font-size: 20px;
  font-style: bold;
  padding: 50px 200px 90px 250px;
  }

  .ingredients h4
  {
font-size: larger;
padding-bottom: 30px;
  }

.instructions
{
  font-size: 20px;
  font-style: bold;
  padding: 50px 200px 200px 200px;
}

.instructions h4
  {
font-size: larger;
padding-bottom: 30px;
  }


.images 
{
  text-align: center;
}

.instructions ol
{
  text-align: left;
  list-style: none;
}
.instructions ol > li
{
  counter-increment: listcounter;
}

.instructions ol > li::before
{
    content: counter(listcounter) "-";
} 


